body {
  padding: 30px 0;
}

.search-bar {
  text-align: center;
  margin: 0 0 20px;
}

.search-bar input {
  display: inline-block;
  width: 100%;
}

.video-detail .details {
  margin: 10px 0 0;
  padding: 10px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.video-list img {
  min-width: 100%;
}