.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  min-width: 80%;
  display: inline-block;
}

.video-detail .detail {
  margin: 10px 0 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}